
.dialogs img{
    width: 850px;
    height:300px;
}
.dialogs{
    padding: 5px;
    grid-area:b;
    display:grid;
    grid-template-columns:2fr 10fr ;
    background-image:url('https://i.pinimg.com/originals/bb/a4/09/bba409b760211c0a8851986f4820d67e.jpg');
    color:white;
    min-height:575px;
}
.dialogsItems .active{
color:yellow;
}
.dialog{

}

